<!DOCTYPE html>
<html lang="en"><!--ng-app="myApp"定义页面应用的范围 所有者-->
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="angular-1.5.8/angular.js"></script>
</head>
<body ng-app="" >
 <input type="text" ng-model="name"/>
 <input type="text" ng-model="def"/>
<p bg-bind="'name+def='+name+def"></p>
<p>name+def={{name+def}}</p><!--表达式 内部可以运算-->
<!-- <p bg-bind="name-def"></p>
 <p>{{name-def}}</p>-->
</body>
<!--
  //ng-model是用于表单元素，支持双向绑定 对普通元素无效
    //ng-bind用于普通元素，不能用于表单元素，应用程序单项地渲染数据到元素 当ng-bind与{{}}同时使用时，ng-bind的值覆盖该元素的内容
<script>
    //定义一个模块
    var app=angular.module("myApp",[]);
</script>
-->
</html>