<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html ng-app="myApp">
	<head>
		<meta charset="UTF-8">
		<title>修改角色</title>
		<meta http-equiv="pragma" content="no-cache">
		<meta http-equiv="cache-control" content="no-cache">
		<meta http-equiv="expires" content="0">
		<meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
		<meta http-equiv="description" content="This is my page">
		<link rel="stylesheet" href="../../bs/css/bootstrap.min.css">
		<link rel="stylesheet" href="../../css/main.css" />
		<link rel="stylesheet" href="../../css/style.css" />
		<link rel="stylesheet" href="../../bs/css/validationEngine.jquery.css" />
		<script type="text/javascript" src="../../bs/js/jquery-1.11.3.min.js"></script>
		<script type="text/javascript" src="../../bs/js/angular.min.js"></script>
		<script type="text/javascript" src="../../bs/js/angular-route.min.js"></script>
		<script type="text/javascript" src="../../bs/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="../../js/url.js"></script>
		<script src="../../bs/js/jquery.page.js"></script>
		<script src="js/updateRole.js"></script>
	</head>

	<body ng-controller="updateRole">
		<div id="man_zone" class="mianbody">
			<div class="softtm"></div>
			<div class="row show-grid" style="padding: 1% 1% 0% 1%;">
				<div class="col-md-12 col-xs-12 col-sm-12">
					<form class="form-horizontal" ng-submit="submitForm()" id="testForm" novalidate>
						<div class="form-group">
							<input type="hidden" id="roleId" name="roleId" value="{{formData.roleId}}">
							<input type="hidden" id="projId" name="projId" value="{{formData.projId}}">
							<label for="chineserole" class="col-sm-1 control-label">角色名称</label>
							<div class="col-sm-5">
								<input type="text" ng-model="formData.roleName" name="roleName" data-validation-engine="validate[required,custom[chineseName],ajax[roleNameAjax]]" class="input form-control" id="chineserole" required placeholder="请输入2-20位以内中文">
							</div>
						</div>
						<div class="form-group">
							<label for="english" class="col-sm-1 control-label">英文名称</label>
							<div class="col-sm-5">
								<input type="text" ng-model="formData.engName" name="engName" data-validation-engine="validate[required,custom[EnglishName]]" class="input form-control" id="english" required placeholder="请输入2-20位以内英文">
							</div>
						</div>
						<div class="form-group">
							<label for="describe" class="col-sm-1 control-label">角色描述</label>
							<div class="col-sm-5 input-group">
								<textarea class="input form-control" rows="3" id="describe" ng-model="formData.roleDesc" name="describe" placeholder="请输入角色描述"></textarea>
							</div>
						</div>
						<div class="col-md-12 col-xs-12 col-sm-12">
							<div class="col-md-1 col-xs-1 col-sm-1"></div>
							<div class="col-md-3 col-xs-3 col-sm-3">
								<button class="btn btndel-handle1" type="button" ng-click="rt()">返回</button>
							</div>
							<div class="col-md-5 col-xs-5 col-sm-5">
								<button class="btn btndel-handle1" type="submit">保存</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</body>
	<!--<script src="../../bs/js/jquery.validationEngine.min.js"></script>
	<script src="../../bs/js/jquery.validationEngine-zh-CN.js"></script>
	<script type="text/javascript">
		$.validationEngine.defaults.scroll = false;
		jQuery(document).ready(function() {
			jQuery('#testForm').validationEngine();
		});
	</script>-->
</html>